<amp-analytics type="googleanalytics">
    <script type="application/json">
    {
      "vars": {
        "account": "{{ site.analytics }}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        },
        "trackClickOnCall": {
          "on": "click",
          "selector": ".call-btn",
          "request": "event",
          "vars": {
              "eventCategory": "Call",
              "eventAction": "tel",
              "eventLabel": "Calling for {{ page.title }}",
              "eventValue": 10
          }
        }
        }   
    }
</script>
</amp-analytics>